<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

     <div class="mainBlock">
    <div class="about-blog">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum repellat, ratione ipsam enim animi delectus doloribus praesentium dolore quod sunt magni iste, sit nostrum minima molestiae nulla. Sequi, placeat voluptatibus?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat quaerat dolores eligendi esse rem, facere fuga culpa exercitationem ducimus. Eligendi quos ipsum similique minus necessitatibus magnam, doloribus labore itaque.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo aspernatur possimus velit, debitis magnam molestias dicta magni amet ipsum explicabo sed provident quae, ab neque, suscipit ducimus minus quas molestiae!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</div>
</body>
</html>